body, p, input, td, th, blockquote, span
{
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
}

h1
{
	font-family: Arial;
	font-size: 18pt;
}

h2
{
	font-family: Arial;
	font-size: 14pt;
}

h3
{
	font-family: Arial;
	font-size: 10pt;
}

h4
{
	font-family: Arial;
	font-size: 10pt;
}
