<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="cacheFetched.enable" value="false" />
    <add key="dataCache.enable" value="false" />
    <add key="ownErrorHandling.enable" value="false" />
    <add key="handler404.de" value="/" />
    <add key="handler404.en" value="/" />
    <add key="notify404ByMail" value="true" />
    <add key="notify404ByMailIgnoreCrawler" value="false" />
    <add key="notify404MailIgnoreCategoryName" value="Website DE" />
    <add key="Languages" value="" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=zetas23; Initial Catalog=dev_ZetaResourceEditor; Integrated Security=True" name="web" />
  </connectionStrings>
  <system.web>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="zeta" namespace="ZetaWebControlLib.Button" assembly="ZetaWebControlLib" />
        <add tagPrefix="zeta" namespace="ZetaWebControlLib.Ajax" assembly="ZetaWebControlLib" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ASBXHandler" verb="GET,HEAD,POST" path="*.asbx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="ZetaS21" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
