<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="availableAssemblyVersion" value="2.0.0.0" />
    <add key="downloadUrl" value="http://zeta.li/zre-download-setup" />
    <add key="Languages" value="" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
</configuration>
