<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsynchronousBridge" version="1.2.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Google.Apis" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Translate.v2" version="1.55.0.875" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2021.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Build" version="17.0.0" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="17.0.0" targetFramework="net48" />
  <package id="Microsoft.Build.Utilities.Core" version="17.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.0.4492" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Zeta.VoyagerLibrary" version="1.0.1" targetFramework="net48" />
</packages>