<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZetaResourceEditor.RuntimeBusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ZetaResourceEditor.RuntimeBusinessLogic.Properties.Settings>
      <setting name="ZetaResourceEditor_RuntimeBusinessLogic_UpdateChecker_UpdateCheckerService"
        serializeAs="String">
        <value>https://www.zeta-resource-editor.com/backend/UpdateCheckerService.asmx</value>
      </setting>
      <setting name="ZetaResourceEditor_RuntimeBusinessLogic_ZetaUploader_ZetaUploaderCommunication"
        serializeAs="String">
        <value>http://www.zeta-uploader.com/WebServices/ZetaUploaderCommunication.asmx</value>
      </setting>
    </ZetaResourceEditor.RuntimeBusinessLogic.Properties.Settings>
  </applicationSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
